#disclaimer {
  display: none !important;
}

#main-content #map .leaflet-bar-timecontrol {
  display: none !important;
}

.lead-copy {
    font-size: 16px !important;
}

.footer-ods{
	background: grey url("../img/sdgbg.png") top left repeat-x !important;
	padding-top: 15px;
  // background-color: grey !important; 
  height:100px !important;
}

.footer-ods-container{
  background-color: grey !important; 
  height:100px !important;
}

.frontpage-cards{
  padding-bottom: 10px !important;
}
